src/main/resources/static/wsdl/ingreso_orden_servicio.wsdl

<wsdl:definitions
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns1="http://org.apache.axis2/xsd"
	xmlns:ns="http://ingresoordenservicio.komatsu.cl"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://ingresoordenservicio.komatsu.cl">
	<wsdl:documentation>ingreso_orden_servicio</wsdl:documentation>
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
			xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:ns1="http://org.apache.axis2/xsd"
			xmlns:ns="http://ingresoordenservicio.komatsu.cl"
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://ingresoordenservicio.komatsu.cl">
			<xs:element name="IngresoOrdenServicio">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AUFNR" type="xs:string" />
						<xs:element name="FKDAT" type="xs:string" />
						<xs:element name="MAUFNR" type="xs:string" />
						<xs:element name="AUART" type="xs:string" />
						<xs:element name="KDAUF" type="xs:string" />
						<xs:element name="ERDAT" type="xs:string" />
						<xs:element name="KTEXT" type="xs:string" />
						<xs:element name="SYSST" type="xs:string" />
						<xs:element name="BUKRS" type="xs:string" />
						<xs:element name="VAPLZ" type="xs:string" />
						<xs:element name="PLGRP" type="xs:string" />
						<xs:element name="KUNUM" type="xs:string" />
						<xs:element name="NAME1" type="xs:string" />
						<xs:element name="EQUNR" type="xs:string" />
						<xs:element name="SHTXT" type="xs:string" />
						<xs:element name="EQART" type="xs:string" />
						<xs:element name="SERNR" type="xs:string" />
						<xs:element name="MATNR" type="xs:string" />
						<xs:element name="RECDV" type="xs:string" />
						<xs:element name="ILART" type="xs:string" />
						<xs:element name="TYPBZ" type="xs:string" />
						<xs:element name="SWERK" type="xs:string" />
						<xs:element name="STORT" type="xs:string" />
						<xs:element name="KOSTV" type="xs:string" />
						<xs:element name="PRCTR" type="xs:string" />
						<xs:element name="OPERACIONES" type="ns:listaoperacionesType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IngresoOrdenServicioResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RESPONSE" type="xs:string" />
						<xs:element name="DETAIL" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="listaoperacionesType">
				<xs:sequence>
					<xs:element name="OPERACION" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								    <xs:element name="VORNR" type="xs:string" />
							        <xs:element name="APLZL" type="xs:string" />
							        <xs:element name="ARBID" type="xs:string" />
							        <xs:element name="STEUS" type="xs:string" />
							        <xs:element name="KTSCH" type="xs:string" />
							        <xs:element name="KTEXT" type="xs:string" />
							        <xs:element name="PLNNR" type="xs:string" />
							        <xs:element name="ZAEHL" type="xs:string" />
							        <xs:element name="ARBEI" type="xs:string" />
							        <xs:element name="FSAVD" type="xs:string" />
							        <xs:element name="RUECK" type="xs:string" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
        </xs:schema>
	</wsdl:types>
	<wsdl:message name="IngresoOrdenServicioRequest">
		<wsdl:part element="ns:IngresoOrdenServicio" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="IngresoOrdenServicioResponse">
		<wsdl:part element="ns:IngresoOrdenServicioResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="IngresoOrdenServicioPortType">
		<wsdl:operation name="IngresoOrdenServicio">
			<wsdl:input message="ns:IngresoOrdenServicioRequest"
				wsaw:Action="urn:IngresoOrdenServicio">
			</wsdl:input>
			<wsdl:output message="ns:IngresoOrdenServicioResponse"
				wsaw:Action="urn:IngresoOrdenServicioResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IngresoOrdenServicioSoapBinding"
		type="ns:IngresoOrdenServicioPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="IngresoOrdenServicio">
			<soap:operation soapAction="urn:IngresoOrdenServicio"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IngresoOrdenServicio">
		<wsdl:port name="IngresoOrdenServicioSoapEndpoint"
			binding="ns:IngresoOrdenServicioSoapBinding">
			<soap:address
				location="http://localhost:8081/orde-servicio-replica/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>